/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p290@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: contentFont;
  src: url("/fonts/Maharani.otf") format("opentype");
  /* IE */
  font-weight: bold;
}

@font-face {
  font-family: navFont;
  src: url("/fonts/StarShine.ttf") format("opentype");
  /* IE */
  font-weight: bold;
}

/* line 22, ../../app/stylesheets/screen.scss */
ol.officer {
  font-size: 100%;
  text-align: justify;
}

/* line 30, ../../app/stylesheets/screen.scss */
div.navbar {
  font-family: navFont;
  background: #1d579e;
  height: 130px;
  margin-top: -20px;
}
/* line 35, ../../app/stylesheets/screen.scss */
div.navbar ul {
  text-align: center;
}
/* line 40, ../../app/stylesheets/screen.scss */
div.navbar li {
  font-size: 150%;
  padding: 5px;
  display: inline;
}

/* line 47, ../../app/stylesheets/screen.scss */
.ilogo {
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: -10px;
}

/* line 55, ../../app/stylesheets/screen.scss */
.ibruin {
  padding-left: 1130px;
  margin-top: -80px;
  margin-bottom: -10px;
}

/* line 62, ../../app/stylesheets/screen.scss */
.itext {
  color: white;
  line-height: 40px;
  font-size: 70px;
  margin-top: -90px;
  padding-left: 110px;
  width: 290px;
}

/* line 71, ../../app/stylesheets/screen.scss */
.ilinks {
  font-size: 30px;
  padding-left: 630px;
  margin-top: -40px;
}
/* line 73, ../../app/stylesheets/screen.scss */
.ilinks a:link {
  text-decoration: none;
  color: white;
}
/* line 74, ../../app/stylesheets/screen.scss */
.ilinks a:visited {
  text-decoration: none;
  color: white;
}
/* line 75, ../../app/stylesheets/screen.scss */
.ilinks a:hover {
  background: #f4c10e;
  color: #1d579e;
  text-decoration: none;
}
/* line 76, ../../app/stylesheets/screen.scss */
.ilinks a:active {
  text-decoration: none;
}

/* line 81, ../../app/stylesheets/screen.scss */
div.slides {
  background: blue;
  height: 400px;
}

/* line 88, ../../app/stylesheets/screen.scss */
div.content {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

/* line 94, ../../app/stylesheets/screen.scss */
div.facebook {
  margin-top: -50px;
  margin-left: 35%;
  margin-right: 35%;
}

/* line 100, ../../app/stylesheets/screen.scss */
div.content {
  font-size: 115%;
  line-height: 30px;
}
/* line 101, ../../app/stylesheets/screen.scss */
div.content p {
  text-indent: 50px;
}

/* line 107, ../../app/stylesheets/screen.scss */
div.igallery {
  height: 500px;
}

/* line 112, ../../app/stylesheets/screen.scss */
div.ifooter {
  font-size: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: contentFont;
}

/* line 120, ../../app/stylesheets/screen.scss */
div.comingsoon {
  margin-top: 30px;
  text-align: center;
  font-size: 200%;
  font-family: navFont;
  line-height: 30px;
}

/* 
	Resets defualt browser settings
	reset.css
*/
/* line 135, ../../app/stylesheets/screen.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 136, ../../app/stylesheets/screen.scss */
:focus {
  outline: 0;
}

/* line 137, ../../app/stylesheets/screen.scss */
a:active {
  outline: none;
}

/* line 138, ../../app/stylesheets/screen.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 139, ../../app/stylesheets/screen.scss */
ol, ul {
  list-style: none;
}

/* line 140, ../../app/stylesheets/screen.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 141, ../../app/stylesheets/screen.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 142, ../../app/stylesheets/screen.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 143, ../../app/stylesheets/screen.scss */
blockquote, q {
  quotes: "" "";
}

/*
	Page style
*/
/* line 149, ../../app/stylesheets/screen.scss */
#container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

/* line 160, ../../app/stylesheets/screen.scss */
#example {
  height: 350px;
  position: relative;
}

/* line 167, ../../app/stylesheets/screen.scss */
#frame {
  position: absolute;
  z-index: 0;
  width: 1000px;
  height: 341px;
  margin-left: auto;
  margin-right: auto;
  top: -3px;
}

/*
	Slideshow
*/
/* line 182, ../../app/stylesheets/screen.scss */
#slides {
  position: absolute;
  top: 15px;
  left: 4px;
  z-index: 100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/
/* line 197, ../../app/stylesheets/screen.scss */
.slides_container {
  width: 770px;
  margin-left: 110px;
  overflow: hidden;
  position: relative;
  display: none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/
/* line 214, ../../app/stylesheets/screen.scss */
.slides_container div.slide {
  width: 770px;
  height: 270px;
  display: block;
}

/*
	Next/prev buttons
*/
/* line 225, ../../app/stylesheets/screen.scss */
#slides .next, #slides .prev {
  position: absolute;
  top: 107px;
  left: 66px;
  width: 24px;
  height: 43px;
  display: block;
  z-index: 101;
}

/* line 235, ../../app/stylesheets/screen.scss */
#slides .next {
  left: 901px;
}

/*
	Pagination
*/
/* line 244, ../../app/stylesheets/screen.scss */
.pagination {
  display: none;
  margin-top: 26px;
  margin-left: 425px;
  width: 100px;
}

/* line 251, ../../app/stylesheets/screen.scss */
.pagination li {
  float: left;
  margin: 0 1px;
  list-style: none;
}

/* line 257, ../../app/stylesheets/screen.scss */
.pagination li a {
  display: block;
  width: 12px;
  height: 0;
  padding-top: 12px;
  background-image: url(/images/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

/* line 268, ../../app/stylesheets/screen.scss */
.pagination li.current a {
  background-position: 0 -12px;
}
