    	
   <p> Established in 1995, Indonesian Bruin Student Association is a UCLA based student organization that promotes and celebrates Indonesian culture in the UCLA community. IBSA also promotes Indonesian art and culture in the broader UCLA community and aims to integrate others of various backgrounds that have a common interest in Indonesia and its culture.  </p>
    	<br>
   <p>  As a result of these goals, IBSA attempts to serve as a reminder for Indonesian students of their native heritage and as encouragement for other UCLA students who are not familiar with Indonesia to increase their knowledge and interest in our culture. IBSA is a nonprofit registered organization and aims to be involved in cultural, social and community projects that promote a better understanding of the Indonesian culture.  
</p>

