<p align="center">The Board Committee of IBSA period 2011-2012:</p>
<br>

<ol class="officer">
<li>President<br>Ashley Kusuma, 3rd year Psychology Major</li><br>
<li>Vice President<br>Justin Widjaja, 4th year Business Economics Major</li><br>
<li>External Affairs Relation<br>Michael Sianturi</li><br>
<li>Event Organizer<br>Gisella Budiono, 4th year Psychology Major</li><br>
<li>Fiscal Coordinator<br>Arnoldus Sufjan, 4th year Economics Major</li><br>
<li>Fiscal Coordinator<br>Grace Sukamto, 4th year Mass Communication Major</li><br>
<li>Compliance Coordinator<br>Dian Rahardjo, 4th year Mass Communication Major</li><br>
<li>Art Craft Coordinator<br>Gresella Prajitno, 4th year Statistics Major</li><br>
<li>Web Designer<br>Richard Lung, 4th year Computer Science Major</li><br>
</ol>