

<div id="container">
		<div id="example">
			
			<div id="slides">
				<div class="slides_container">
					<div class="slide">
						<a href="http://www.facebook.com/event.php?eid=172728572816372" title="Indo Party 2011!" target="_blank"><img src="/images/slide-8.jpg" width="770" height="270" alt="Slide 1"></a>
					</div>
					<!--
					 <div class="slide">
						<a href="http://www.flickr.com/photos/stephangeyer/3020487807/" title="Taxi | Flickr - Photo Sharing!" target="_blank"><img src="/images/slide-2.jpg" width="770" height="270" alt="Slide 2"></a>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/childofwar/2984345060/" title="Happy Bokeh raining Day | Flickr - Photo Sharing!" target="_blank"><img src="/images/slide-3.jpg" width="770" height="270" alt="Slide 3"></a>
					</div>
					<div class="slide">

						<a href="http://www.flickr.com/photos/b-tal/117037943/" title="We Eat Light | Flickr - Photo Sharing!" target="_blank"><img src="/images/slide-4.jpg" width="770" height="270" alt="Slide 4"></a>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/bu7amd/3447416780/" title="&ldquo;I must go down to the sea again, to the lonely sea and the sky; and all I ask is a tall ship and a star to steer her by.&rdquo; | Flickr - Photo Sharing!" target="_blank"><img src="/images/slide-5.jpg" width="770" height="270" alt="Slide 5"></a>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/streetpreacher/2078765853/" title="twelve.inch | Flickr - Photo Sharing!" target="_blank"><img src="/images/slide-6.jpg" width="770" height="270" alt="Slide 6"></a>
					</div>
					<div class="slide">
						<a href="http://www.flickr.com/photos/aftab/3152515428/" title="Save my love for loneliness | Flickr - Photo Sharing!" target="_blank"><img src="/images/slide-7.jpg" width="770" height="270" alt="Slide 7"></a>
					</div>
					-->
					
				</div>

				<a href="#" class="prev"><img src="/images/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
				<a href="#" class="next"><img src="/images/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
			</div>
			<img src="/images/example-frame.png" alt="Example Frame" id="frame">
		</div>
		
	</div>
